{% extends 'base.html.twig' %}

{% block title %}Deck Builder - Deckistry{% endblock %}

{% block body %}
<div class="container" style="padding: 60px 0;">
    <h1>{{ message }}</h1>
    <p>The deck builder interface is coming soon!</p>
    <a href="{{ path('app_home') }}" class="btn btn-primary">Back to Home</a>
</div>
{% endblock %}
