{% extends 'base.html.twig' %}

{% block title %}View Deck - Deckistry{% endblock %}

{% block body %}
<div class="container" style="padding: 60px 0;">
    <h1>Deck #{{ deckId }}</h1>
    <p>Deck details coming soon!</p>
    <a href="{{ path('app_decks') }}" class="btn btn-primary">Back to Decks</a>
</div>
{% endblock %}
